.section-social {
  width: 100%;
  display: flex;

  a {
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;

    margin: 8px;
    padding: 8px;
    font-size: var(--font-normal);
  }
}