.section-contact {
  font-family: var(--font-1);
  @extend .grid-section;

  &__local {
    grid-column: 2/span 4;
    text-transform: uppercase;
    
    padding: var(--section-spacing) 15px;

    @include mediaQuery(md) {
      grid-column: span var(--num-grid-columns);
    }

    .section-contact__content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      
      font-size: var(--font-normal);
      font-weight: lighter;
      line-height: 2;
    }
  }

  &__info {
    grid-column: 8 / span 4;
    background-color: var(--secondary);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    padding: var(--section-spacing);

    @include mediaQuery(xl) {
      grid-column: 7/span 5;
    }
    
    @include mediaQuery(lg) {
      grid-column: span var(--num-grid-columns);
    }

    .title {
      display: flex;
      justify-content: center;

      font-size: var(--font-normal);
      font-weight: lighter;
      color: var(--white);
    }

    .section-contact__description {
      font-size: var(--font-md);
      color: var(--white);
      line-height: 2;

      @include mediaQuery(md) {
        font-size: var(--font-normal);
      }
    }
  }
}
