.section-contact {
  font-family: var(--font-1);
  @extend .container;
  display: grid;
  grid-template-columns: 350px minmax(200px, 550px);
  justify-content: space-around;

  @include mediaQuery(md) {
    grid-template-columns: 1fr;
    padding: 0;
  }

  &__local {
    text-transform: uppercase;
    padding: var(--section-spacing) 15px;

    .section-contact__content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      
      font-size: var(--font-normal);
      font-weight: lighter;
      line-height: 2;
    }
  }

  &__info {
    background-color: var(--secondary);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    padding: var(--section-spacing);

    @include mediaQuery(xl) {
      grid-column: 7/span 5;
    }
    
    @include mediaQuery(lg) {
      grid-column: span var(--num-grid-columns);
    }

    .title {
      display: flex;
      justify-content: center;

      font-size: var(--font-normal);
      font-weight: lighter;
      color: var(--white);
    }

    .section-contact__description {
      font-size: var(--font-md);
      color: var(--white);
      line-height: 2;

      @include mediaQuery(md) {
        font-size: var(--font-normal);
      }
    }
  }
}
