.section-map {
  margin: 80px auto;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  @extend .container;
  
  img {
    cursor: pointer;
    object-fit: cover;
    filter: grayscale(80%);
  }
}