.show {
  border-top: 100px solid var(--white);
  padding-right: 15px;
  padding-left: 15px;

  @extend .container;

  @include mediaQuery(md) {
    padding: 0 15px;
  }

  .title {
    color: var(--secondary);
    font-size: var(--font-md);
    font-weight: bold;

    @include mediaQuery(md) {
      font-size: var(--font-normal);
    }
  }

  &__article {
    display: grid;
    grid-template-columns: minmax(400px, 800px) 500px;
    align-items: flex-end;
    justify-content: space-between;

    margin: 16px auto;

    font-family: var(--font-1);
    font-size: var(--font-normal);
    font-weight: lighter;
    line-height: 1.5;

    h2 {
      line-height: 2;
      font-weight: bold;
    }

    .show__dashboard span {
      color: var(--primary);
    }

    @include mediaQuery(md) {
      grid-template-columns: 1fr;
    }
  }

  &__project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;

    margin-top: 40px;
    transition: all 0.5s ease;

    @include mediaQuery(md) {
      grid-template-columns: 1fr;
    }

    .show__item {
      display: flex;
      width: 100%;
      max-height: 900px;
      height: 100%;

      img {
        width: 100%;
        height: 90%;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
}
