.grid-section {
  max-width: var(--page-max-width);
  width: 100%;

  box-sizing: border-box;
  
  margin-right: auto;
  margin-left: auto;
  padding: 0 var(--page-gutter);

  display: grid;
  grid-template-columns: repeat(var(--num-grid-columns), 1fr);
  gap: 0 20px;
}